:root{
    --first-color: #000000; 
    --second-color: #fff; 
    --font-size: 50px; 
}

/* navegación */
.navbar{
    padding: 0 15px;
    display: flex;
}

.navbar .logo {
    width: 15%;
    max-width: 80px;
    margin: 10px
}

.navbar .menu .link{
    display: none;
}

/*poner footer también*/
.navbar {
    background-color: var(--first-color);
    color: var(--second-color)
    
}


.navbar .menu {
    display: flex;
    justify-content: flex-end;
}

/* Adaptando a Desktop*/
@media screen and (min-width:576px) {
    .navbar .menu .link{
        margin-left: 10px;
        display: flex;
    }
}

@media screen and (min-width:576px) {
    .navbar .menu {
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
    }
}