:root{
    --first-color: #000000; 
    --second-color: #fff; 
    --font-size: 50px; 
}

.separador{
    display: none
}

/* navegación */
.navbar{
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 5px;
    margin-right: 50px;
    width: 328px;
    height: 70px;
    justify-content: space-between;
    display: flex;
}

.navbar ul{
    display: none;
}

.navbar .logo {
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 20px;
    
}
.navbar .span{
    display: inline-block;
    font-size: 24px;
    margin-right: 65px;
    margin-top: 20px;
}

.navbar .list{
    color:#fff;
    text-decoration: none;
}
.cabecera{
    width: 338px;
}

/* main*/
.principal{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    display: block;
}
.luna {
    font-size: 25px;
    color: #cc87d8;
    font-weight:bold;
    text-decoration: underline;
    display: block;
}

.descripcion{
    margin-top: 15px;
    text-align: justify;
    display: block;
}

/* section 1*/
.section1{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
}
.skills{
    font-size: 25px;
    color: #cc87d8;
    font-weight:bold;
    text-decoration: underline;
}

.progreso{
    height: 10px;
    width: 100%;
    padding: 10px;
    position: relative;
    animation: barra 3s linear;
    flex-wrap: nowrap;
}


/* section 2*/
.contacto{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 10px;
    margin: 10px; 
    font-size: 25px;
    color: #cc87d8;
    font-weight:bold;
    text-decoration: underline;
    text-align:center;
}
.formulario
{
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
   margin: 10px;
   text-align: center;

}

.formulario .input{
    font-size: 15px;
    font-weight:bold;
    justify-content:center;
    padding-bottom: 8px;
    
}

.div{
    padding-bottom: 15px;
    
}

.tab{
    margin-left: 15px;
}

/* footer */
.footer{
    display: block;
    background-color: var(--first-color);
    color: var(--second-color);
    justify-content: space-evenly;
    align-items: center;
    width: 338px;
    height: 80px;
    padding-top: 20px;
}

.footer ul{
    display: flex;
    justify-content: space-evenly;
}

.footer .red{
    display: flex;
    margin-left: 5px;
    margin-right: 20px;
    width: 45px;
    position: absolute;
    
    
}

.red {
    display: flex;

}

.footer .link{
    display: flex;
    margin-top: 8px;
    margin-right: 20px;
    justify-content: space-evenly;
    
}

/* Adaptando a Desktop*/
@media screen and (min-width:380px) {
    .navbar {
        flex-wrap: nowrap;
        width: auto;
        padding-right: 10px;
        margin-right: 10px;
        
    }
}



@media screen and (min-width:380px) {
    .navbar .img {
        display: flex;
        width:100%
        
    }
}

@media screen and (min-width:380x) {
    .navbar .logo{
        display: flex
        
    }
}

@media screen and (min-width:380px) {
    .navbar .menu .list {
        display: flex;
        text-decoration: none;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 50px;
        justify-content: space-between;
        visibility: visible;
    }
}

@media screen and (min-width:380px) {
     .list:hover {
        color: #cc87d8;
    }
}

@media screen and (min-width:380px) {
    .list {
       transition: color 1s linear;
   }
}

@media screen and (min-width:380px) {
    .navbar .span{
        display: none
        
    }
}

@media screen and (min-width:380px) {
    .navbar ul{
        display: flex;
        margin-right: 20px;
        
    }
}

@media screen and (min-width:380px) {
    .navbar .list{
        display: inline-flex;
        margin-left: 30px;
        margin-right: 30 px;
        margin-top: 15px;
        font-size: 20px;
        transition: elementos 3s lineal;
        
    }
}

/*main*/
@media screen and (min-width:380px) {
    .descripcion{
        width: 90%;
        
        
    }
}
/*cabecera*/
@media screen and (min-width:380px) {
    .cabecera{
        width: 100%;
        
    }
}

/*skills*/
@media screen and (min-width:380px) {
    .progreso{
        height: 10px;
        width: 80%;
    }
}
/*footer*/
@media screen and (min-width:380px) {
    .footer{
        width: 100%;
        
    }
}
/*transiciones*/
@keyframes barra {
    0%{
        opacity: 0;
        background-color: #fff ;
        width: 20%
    }
    100%{
        opacity: 1;
        background-color: #cc87d8;
        width: 100%;
    }
}

@keyframes elementos{
    0%{
        opacity: 0;
        background-color: #fff;
        width: 20%
    }
    100%{
        opacity: 1;
        background-color: #cc87d8;
        width: 100%;
    }
}